In [7]:
"""
for each folder of name sub-xxx:
	for each file in sub-xxx/eeg:
		if filename contains seqLearning**:
			#calculate cognitive score from the .tsv file 
			if filename ends with _events.tsv
				for each row in filename
					if “value” column is “dot_no7_off” 
						#calculate the cognitive score by comparing the user_answer and correct_answer
						#save the cognitive score and “onset” value (timestamp) 

"""

#load data from a single file for now


path = '/scratch/jsheikh2/ted_temp/ds005505/sub-NDARGJ395FKP/eeg/sub-NDARGJ395FKP_task-seqLearning8target_events.tsv'
#https://mne.tools/stable/generated/mne.io.read_raw_eeglab.html
import csv

import pandas as pd

df = pd.read_csv(path, sep='\t')

### For some reason, starting from the SECOND occurence of dot 7 OFF is where we get scores
display(df[0:50])

,onset,duration,sample,value,event_code,user_answer,correct_answer,target_count
0,0.000,NaN,0.0,break cnt,break cnt,NaN,NaN,8
1,40.846,NaN,20423.0,seqLearning_start,91,NaN,NaN,8
2,47.132,NaN,23566.0,learningBlock_1,31,NaN,NaN,8
3,47.150,NaN,23575.0,dot_no1_ON,11,NaN,NaN,8
4,47.740,NaN,23870.0,dot_no1_OFF,21,NaN,NaN,8
5,49.058,NaN,24529.0,dot_no6_ON,16,NaN,NaN,8
6,49.638,NaN,24819.0,dot_no6_OFF,26,NaN,NaN,8
7,50.958,NaN,25479.0,dot_no4_ON,14,NaN,NaN,8
8,51.538,NaN,25769.0,dot_no4_OFF,24,NaN,NaN,8
9,52.858,NaN,26429.0,dot_no2_ON,12,NaN,NaN,8
10,53.448,NaN,26724.0,dot_no2_OFF,22,NaN,NaN,8
11,54.768,NaN,27384.0,dot_no7_ON,17,NaN,NaN,8
12,55.348,NaN,27674.0,dot_no7_OFF,27,NaN,NaN,8
13,56.668,NaN,28334.0,dot_no3_ON,13,NaN,NaN,8
14,57.248,NaN,28624.0,dot_no3_OFF,23,NaN,NaN,8
15,58.568,NaN,29284.0,dot_no8_ON,18,NaN,NaN,8
16,59.158,NaN,29579.0,dot_no8_OFF,28,NaN,NaN,8
17,60.478,NaN,30239.0,dot_no5_ON,15,NaN,NaN,8
18,61.058,NaN,30529.0,dot_no5_OFF,25,NaN,NaN,8
19,62.378,NaN,31189.0,dot_no2_ON,12,NaN,NaN,8
20,62.958,NaN,31479.0,dot_no2_OFF,22,NaN,NaN,8
21,64.278,NaN,32139.0,dot_no7_ON,17,NaN,NaN,8
22,64.858,NaN,32429.0,dot_no7_OFF,27,1-6-4-7-2-5-3-8-6-1,1-6-4-2-7-3-8-5-2-7,8
23,106.170,NaN,53085.0,learningBlock_2,32,NaN,NaN,8
24,106.178,NaN,53089.0,dot_no1_ON,11,NaN,NaN,8
25,106.768,NaN,53384.0,dot_no1_OFF,21,NaN,NaN,8
26,108.088,NaN,54044.0,dot_no6_ON,16,NaN,NaN,8
27,108.668,NaN,54334.0,dot_no6_OFF,26,NaN,NaN,8
28,109.988,NaN,54994.0,dot_no4_ON,14,NaN,NaN,8
29,110.568,NaN,55284.0,dot_no4_OFF,24,NaN,NaN,8
30,111.888,NaN,55944.0,dot_no2_ON,12,NaN,NaN,8
31,112.468,NaN,56234.0,dot_no2_OFF,22,NaN,NaN,8
32,113.798,NaN,56899.0,dot_no7_ON,17,NaN,NaN,8
33,114.378,NaN,57189.0,dot_no7_OFF,27,NaN,NaN,8
34,115.698,NaN,57849.0,dot_no3_ON,13,NaN,NaN,8
35,116.278,NaN,58139.0,dot_no3_OFF,23,NaN,NaN,8
36,117.598,NaN,58799.0,dot_no8_ON,18,NaN,NaN,8
37,118.178,NaN,59089.0,dot_no8_OFF,28,NaN,NaN,8
38,119.498,NaN,59749.0,dot_no5_ON,15,NaN,NaN,8
39,120.078,NaN,60039.0,dot_no5_OFF,25,NaN,NaN,8
40,121.398,NaN,60699.0,dot_no2_ON,12,NaN,NaN,8
41,121.978,NaN,60989.0,dot_no2_OFF,22,NaN,NaN,8
42,123.298,NaN,61649.0,dot_no7_ON,17,NaN,NaN,8
43,123.878,NaN,61939.0,dot_no7_OFF,27,1-6-4-2-7-3-8-5-1-6,1-6-4-2-7-3-8-5-2-7,8
44,155.980,NaN,77990.0,learningBlock_3,33,NaN,NaN,8
45,155.988,NaN,77994.0,dot_no1_ON,11,NaN,NaN,8
46,156.566,NaN,78283.0,dot_no1_OFF,21,NaN,NaN,8
47,157.886,NaN,78943.0,dot_no6_ON,16,NaN,NaN,8
48,158.466,NaN,79233.0,dot_no6_OFF,26,NaN,NaN,8
49,159.786,NaN,79893.0,dot_no4_ON,14,NaN,NaN,8

In [2]:
print(df['value'].unique())

['break cnt' 'seqLearning_start' 'learningBlock_1' 'dot_no1_ON'
 'dot_no1_OFF' 'dot_no6_ON' 'dot_no6_OFF' 'dot_no4_ON' 'dot_no4_OFF'
 'dot_no2_ON' 'dot_no2_OFF' 'dot_no7_ON' 'dot_no7_OFF' 'dot_no3_ON'
 'dot_no3_OFF' 'dot_no8_ON' 'dot_no8_OFF' 'dot_no5_ON' 'dot_no5_OFF'
 'learningBlock_2' 'learningBlock_3' 'learningBlock_4' 'learningBlock_5'
 'seqLearning_stop' 'boundary']

In [3]:
df.loc[df['value']== 'dot_no7_OFF']

,onset,duration,sample,value,event_code,user_answer,correct_answer,target_count
12,55.348,NaN,27674.0,dot_no7_OFF,27,NaN,NaN,8
22,64.858,NaN,32429.0,dot_no7_OFF,27,1-6-4-7-2-5-3-8-6-1,1-6-4-2-7-3-8-5-2-7,8
33,114.378,NaN,57189.0,dot_no7_OFF,27,NaN,NaN,8
43,123.878,NaN,61939.0,dot_no7_OFF,27,1-6-4-2-7-3-8-5-1-6,1-6-4-2-7-3-8-5-2-7,8
54,164.166,NaN,82083.0,dot_no7_OFF,27,NaN,NaN,8
64,173.666,NaN,86833.0,dot_no7_OFF,27,1-6-4-2-7-3-8-6-5-3,1-6-4-2-7-3-8-5-2-7,8
75,215.586,NaN,107793.0,dot_no7_OFF,27,NaN,NaN,8
85,225.106,NaN,112553.0,dot_no7_OFF,27,1-6-4-2-7-3-8-5-2-7,1-6-4-2-7-3-8-5-2-7,8
96,264.044,NaN,132022.0,dot_no7_OFF,27,NaN,NaN,8
106,273.564,NaN,136782.0,dot_no7_OFF,27,1-6-4-2-7-3-8-5-2-7,1-6-4-2-7-3-8-5-2-7,8

In [4]:
def calculate_frame_shifted_score(df):
    """
    Calculate score for every Score Event (i.e. when user_answer and correct_answer are not NaN)
    Score is based on positional matching:
    - Compare user_answer and correct_answer position by position (same index)
    - Find the first contiguous subsequence of length > 1 where elements match at the same positions
    - Score is the length of this subsequence (0 if no match > 1 found)
    
    Returns a df containing only rows with valid user_answer and correct_answer, plus a 'score' column
    """
    import pandas as pd
    
    # Filter to only rows where both user_answer and correct_answer are not NaN
    mask = df['user_answer'].notna() & df['correct_answer'].notna()
    result_df = df[mask].copy()
    
    # Initialize score column
    result_df['frame_shifted_score'] = 0
    
    for idx in result_df.index:
        user_ans = str(result_df.loc[idx, 'user_answer']).split('-')
        correct_ans = str(result_df.loc[idx, 'correct_answer']).split('-')
        
        # Ensure both lists have the same length (use minimum)
        min_len = min(len(user_ans), len(correct_ans))
        
        score = 0
        i = 0
        
        while i < min_len:
            # Count consecutive matches starting at position i
            match_length = 0
            j = i
            while j < min_len and user_ans[j] == correct_ans[j]:
                match_length += 1
                j += 1
            
            # If we found a match of length > 1, that's our score
            if match_length > 1:
                score = match_length
                break
            
            # Move to next position
            i += 1
        
        result_df.loc[idx, 'frame_shifted_score'] = score
    
    return result_df

In [5]:
def calculate_direct_match_score(df):
    """
    Add a 'direct_match' column based on left-to-right sequential matching.
    
    Score is the number of consecutive matches starting from the leftmost position (index 0).
    Stops counting at the first mismatch.
    
    Examples:
    - user: 1-2-3-5-4-7-6-8, correct: 1-2-3-4-5-6-7-8 → direct_match = 3 (matches at positions 0,1,2)
    - user: 1-3-2-6-4-5-7-8, correct: 1-2-3-4-5-6-7-8 → direct_match = 1 (matches only at position 0)
    - user: 2-1-3-4-5-6-7-8, correct: 1-2-3-4-5-6-7-8 → direct_match = 0 (no match at position 0)
    
    Returns the df with an additional 'direct_match' column
    """
    import pandas as pd
    
    # Create a copy to avoid modifying the original
    result_df = df.copy()
    
    # Initialize direct_match column
    result_df['direct_match_score'] = 0
    
    for idx in result_df.index:
        user_ans = str(result_df.loc[idx, 'user_answer']).split('-')
        correct_ans = str(result_df.loc[idx, 'correct_answer']).split('-')
        
        # Count consecutive matches from the start
        min_len = min(len(user_ans), len(correct_ans))
        direct_match = 0
        
        for i in range(min_len):
            if user_ans[i] == correct_ans[i]:
                direct_match += 1
            else:
                # Stop at first mismatch
                break
        
        result_df.loc[idx, 'direct_match_score'] = direct_match
    
    return result_df

In [6]:
df = calculate_frame_shifted_score(df)
df = calculate_direct_match_score(df)

display(df)

,onset,duration,sample,value,event_code,user_answer,correct_answer,target_count,frame_shifted_score,direct_match_score
22,64.858,NaN,32429.0,dot_no7_OFF,27,1-6-4-7-2-5-3-8-6-1,1-6-4-2-7-3-8-5-2-7,8,3,3
43,123.878,NaN,61939.0,dot_no7_OFF,27,1-6-4-2-7-3-8-5-1-6,1-6-4-2-7-3-8-5-2-7,8,8,8
64,173.666,NaN,86833.0,dot_no7_OFF,27,1-6-4-2-7-3-8-6-5-3,1-6-4-2-7-3-8-5-2-7,8,7,7
85,225.106,NaN,112553.0,dot_no7_OFF,27,1-6-4-2-7-3-8-5-2-7,1-6-4-2-7-3-8-5-2-7,8,10,10
106,273.564,NaN,136782.0,dot_no7_OFF,27,1-6-4-2-7-3-8-5-2-7,1-6-4-2-7-3-8-5-2-7,8,10,10